.a1{
	height: 600px;
	background-color: #fff;
}
.img1{
	height:350px;
	margin-top: 150px;
}
.o1{
	float: left;
}
.ff{
	margin-right: 40px;
}
.a2{
	height: 700px;
	background-color: white;
	padding-left: 0px;
}
.e1{
	width: 450px;
}
.n2{
	width: 70px;
}
.n1{
	width:380px;
}
.btn{
	background-color: #fff;
	width: 500px;
}
.bg1{
	background-color: darkslateblue;
}
i{
	background-color: #fff;
}